.article-adotar{
  background-color: #C5F4DC;
  padding-top: 60px;
  padding-bottom: 60px;

}

.conteiner-adotar{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  background-color: #B6F9D7;
  border: solid  rgba(0, 71, 35, 0.1)  2px;
  box-shadow: #4AC687 blur(5px);
  align-items: center;
  justify-content: center;
  border-radius: 16px;

}

.imgs-adotar img{
  max-width: 300px;
  height: 300px;
  border-radius: 16px;
  object-fit: cover;
}

#img1, #img2{
  position: relative;
}
#img2{
  top: -53px;
  right: -100px;
}
#img1{
  top: 60px;
  right: -260px;
  z-index: 1;
}

.titulo-adotar{
  font-size: 36px;
  font-weight: 700;
  font-family: "poppins";
  background: -webkit-linear-gradient( left bottom, #FC4F4F 0%, #F76E11 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.conteudo-adotar p{
  font-size: 24px;
  font-family: 'poppins';
  text-align: center;
  padding: 40px 100px;
  color: #404040;
  max-width: 600px;
  
}
.conteudo-adotar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  

}

@media(max-width:800px){
  .conteiner-adotar{
    grid-template-columns: 1fr;
  }
}
