.section-contato{
  background-color: #2DBB73;
  padding-top: 60px;
  padding-bottom: 60px;
}
.conteudo-contato{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-contato p{
  max-width: 650px;
}


.contato ul{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
 
}
.contato li{
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
}

.contato p{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'roboto';
  color: #404040;
}

.contato li::before{
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #fff;
  right: -50px;
}

@media(max-width:900px){
  .contato ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width:600px){
  .contato ul{
    display: grid;
    grid-template-columns: 1fr;
  }
}