.section-objetivos {
  background-color: var(--gree-color);
  text-align: center;
  padding-top: 259px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #b6f9d7;
  border-radius: 12px;
  padding: 30px 20px 60px 20px;
  z-index: 1;
  max-width: 400px;
  align-items: center;
}
.item p {
  padding: 20px 30px;
}
.img-objetivos {
  background-color: #06743c;
  border-radius: 50%;
  padding: 35px;
}

.objetivos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 60px;
  justify-content: center;
}
