.section-parceiros{
  background-color: #73FFBC;
  padding-top: 60px;
  padding-bottom: 60px;


  
}
.coteiner-parceiros h2{
  text-align: center;
}


.imgs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow-x: auto;
}


.imgs img{
  max-width: 200px;
  max-height: 200px;
}






